body{

	background-color: #333;
}

h1{
	text-align: center;
	margin-bottom: 60px;
	color: white;	
}


h2{
	display: table;
	color: white;
	margin: 40px auto;
	font-size: 50px;
	font-family: 'Chewy', cursive;
	
}

nav{
	float: right;
	display: table;
	padding: 30px;
}

nav ul{
	list-style: none;
}

nav ul li{
	float: left;
	margin-right: 20px;
}

nav ul li a{
	color: white;
	text-decoration: none;
}

nav ul li a:hover{
	color: #BEBEBE;
	text-decoration: none;
}


.filmes{
	height: 400px;
	padding: 30px;
	margin-right: 100px;
}

.filmes li{
	margin-top: 30px;
}

.sidebar{
	position: absolute;
    top: 0;
    width: 250px;
    margin: 0px;
    padding: 0;
    list-style: none;
    right: 0px;
    background-color: #F5F5F5; /*rgb(202,54,95);*/
    height: 100%;

}

.sidebar ul{
	margin-top: 40px;
	list-style: none;
}

.sidebar ul li{
	text-indent: 10px;
    line-height: 40px;
    font-size: 20px;
    width: 250px;
    height: 40px;
}

.sidebar ul li a{
	color: #333;
}

.sidebar ul li a:hover{
	color: white;
	text-decoration: none;
}







