body{

	background-color: #333;
}


header{
	padding: 50px;
	width: 500px;
	height: 100px;
	margin: 0px auto 40px auto;
}

h2{
	
	color: white;
}




.informacoes{
	width: 200px;
	display: table;
	text-align: justify;
}

ul{
	list-style: none;


}

li{
	color: white;
}

.item {
	float: left;
	width: 545px;
	margin-bottom: 50px;
}

.filme_{
	float: left;
	width: 128px;
}

.imagem{

	width: 128px;
	height: 128px;

}

.filme{
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

.thumb-container {
	height: 100px;
}

.sidebar{
	position: absolute;
    top: 0;
    width: 250px;
    margin: 0px;
    padding: 0;
    list-style: none;
    right: 0px;
    background-color: rgb(202,54,95);;
    height: 100%;

}

.sidebar ul{
	margin-top: 40px;
	list-style: none;
}

.sidebar ul li{
	text-indent: 10px;
    line-height: 40px;
    font-size: 20px;
    width: 250px;
    height: 40px;
}

.sidebar ul li a{
	color: #333;
}

.sidebar ul li a:hover{
	color: white;
	text-decoration: none;
}

